.rider-card-header {
    background-color: #3535ee;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.rider-header {
    float: left;
    font-size: 24px;
    color: #fff;
    padding-top: 5px;
}

.rider-header span {
    font-weight: 600;
}

.add-rider {
    float: right;
}

.rider-section {
    /* border:1px solid #000; */
    border-radius: 5px;
}

.rider-func {
    padding: 10px 0;
    margin-bottom: 15px;
}

.l-rider-func {
    float: left;
}

.l-rider-func #riders {
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    background-color: #f9fbfd;
    box-shadow: rgba(198, 198, 211, 0.2) 0px 7px 29px 0px;
    margin-right: 10px;
}

.r-rider-func {
    float: right;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
  border: 1px solid #dbdbdb;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #d6e4f0;
}


/* create form */


.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
    border: 2px solid #0000ff;
    outline: none;
}
.form-select {
    background-image: url("../../dropdown.png");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
}
.mb-3 {
    margin-bottom: 30px;
}

.mb-3 .label {
    margin-bottom: 10px;
}

.rider-form {
    width: 70%;
    margin: 50px auto;
}